#body{
    background-color: skyblue;
}
.button{
   background: #4f46e5;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-weight: 600;
  width: 100%;
  max-width: 300px;
  min-width: 150px;
}
.button:hover{
    transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(79, 70, 229, 0.4);
}